# ── Application ──────────────────────────────────────────────
APP_NAME="EduPay Cameroun"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_TIMEZONE=Africa/Douala

# ── Base de données ───────────────────────────────────────────
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=edupay
DB_USERNAME=olivier
DB_PASSWORD=Rois@10720

# ── Sessions & Cache ─────────────────────────────────────────
SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=database

# ── Mail (dev : Mailtrap) ─────────────────────────────────────
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=89485cd723362c
MAIL_PASSWORD=****c7de
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@edupay.cm
MAIL_FROM_NAME="EduPay Cameroun"

# ── SMS (Africa's Talking) ────────────────────────────────────
AT_API_KEY=
AT_USERNAME=sandbox
AT_SENDER_ID=EduPay

# ── MTN Mobile Money ─────────────────────────────────────────
MTN_MOMO_SUBSCRIPTION_KEY=
MTN_MOMO_API_USER=
MTN_MOMO_API_KEY=
MTN_MOMO_ENV=sandbox
MTN_MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com

# ── Orange Money ─────────────────────────────────────────────
ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_MOMO_ENV=sandbox

# ── CinetPay (Carte bancaire) ─────────────────────────────────
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_ENV=sandbox

# ── Super Admin (URL cachée — ne jamais exposer publiquement) ──
ADMIN_URL_PREFIX=admin-ep2026
ADMIN_2FA_ENABLED=true

# ── Sanctum ──────────────────────────────────────────────────
SANCTUM_STATEFUL_DOMAINS=localhost:8000,127.0.0.1:8000

# ── AangaraaPay ──────────────────────────────────────
AANGARAA_API_URL=https://api-production.aangaraa-pay.com/api/v1
AANGARAA_APP_KEY=TEST_KEY_DEV

EDUPAY_TAUX_COMMISSION=0.025
EDUPAY_TIMEOUT_PAIEMENT=120
EDUPAY_MAX_TRANCHES=3
EDUPAY_SMS_ACTIF=true
EDUPAY_MAINTENANCE=false